@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$primary-color: #2fa8cc;
$secondary-color: #f4f4f4;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

* {
    box-sizing: border-box;
}


body {
    --nav-width: 200px;
    background-color: $primary-color;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 20px;
    font-size: 18px;
    margin: 0 0 0 var(--nav-width);
}

.container {
    background-color: $secondary-color;
    border-radius: 10px;
    box-shadow: $box-shadow;
    padding: 50px 20px;
    text-align: center;
    max-width: 100%;
    width: 800px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #009579;
}